// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

// Fonts:
// 		font-family: 'Lato', sans-serif;
// 		font-family: 'Source Sans Pro', sans-serif;


// Variables and Mixins
@backgroundcolor: linear-gradient(to bottom left, #92A8D1, #F7CAC9);

@link-style: 'Lato', sans-serif;

.flex-col-even-cen(){
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.basic-media(){
	@media (min-width:500px){
		margin-left: 26vw;		
	}
}



// My Code

body{
	background-image: @backgroundcolor;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 5%;

	@media(min-width:500px){
		margin:0;
	}

	header{
		@media(min-width:500px){
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-end;
			width: 25vw;
			height: 100vh;
			position: fixed;
			z-index:1;
		}
		nav{
			.flex-col-even-cen();
			height: 25vh;

			@media(min-width:500px){
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				width: 100%;
				height: 100vh - 30vh;
			}

			a{
				text-decoration: none;
				color: darkslategray;
				font-family: @link-style;
				border-bottom: 2px solid darkgrey;
			}
		}
	}

	.content{
		.flex-col-even-cen();
		.basic-media;

		section{
			margin:5% 0;
		}

		#about{
			.flex-col-even-cen();
			height: 50vh;

			#headshot{
				width: 25vw;
				max-width: 150px;
				max-height: 250px;
			}
		}

		#skills{
			.flex-col-even-cen();
			height: 50vh;
			width: 100%;

			ul{
				.flex-col-even-cen();
				height: 85%;
				width: 100%;

				li{
					.flex-col-even-cen();
				}
			}
		}

		#work{
			.flex-col-even-cen();
			height: 50vh;
			width: 100%;
			max-width: 500px;
			max-height: 350px;

			th, td{
				padding: 5%;
			}

			tr:nth-child(even){
				background-color: darkgrey;
			}
		}
	}

	#contact{
		.flex-col-even-cen();
		.basic-media();
		height: 25vh;
	}
}

